<div class="col-lg-12">
  <div class="bs-component">
    <div class="jumbotron">
      <center><h1>You can see the code generated here </h1></center>
      <br><br><br><br>
      <center><p> <%= link_to "Source Code", 'https://github.com/2l3x2nd3r/discrete-structures-proyect.git', class: "btn btn-primary btn-lg", target: "_blank" %></p></center>
    </div>
  </div>
</div>

