<div class="col-lg-12">
  <div class="bs-component">
    <div class="jumbotron">
      <center><h1>Welcome to my discrete structure proyect</h1></center>
      <br><br><br><br><br><br><br><br><br>
      <center><p>by: Alexander Taborda Acosta</p></center>
    </div>
  </div>
</div>